<div class="login-container">
  <div class="login-form">
    <div class="p-field">
      <label for="email">Email</label>
      <br>
      <input id="email" type="text" pInputText [(ngModel)]="userLogin.email" />
    </div>
    <div class="p-field">
      <label for="password">Password</label>
      <input id="password" type="password" pInputText [(ngModel)]="userLogin.passWord" />
    </div>

    <p-button class="login-button" (onClick)="login()" label="Login" icon="pi pi-user"></p-button>
    <a (click)="redirectToRegister()" class="register-link">New user? Click here⬇</a>

  </div>
</div>

